body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #263747;
    height: 150px;
    width: 100%;
}

.header h1 {
    color: white;
    font-size: 2.4em;
    font-weight: bold;
    padding: 40px 0px 10px 20px;
}

.header h2 {
    color: white;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0px 0px 10px 20px;
}

.menu {
    background-color: #3E5160;
    height: 50px;
    width: 100%;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    float: left;
    padding: 15px 20px;
    display: block;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.menu ul li:hover {
    background-color: #263747;
}

.main {
    margin: 20px;
    padding: 0px 20px 0px 20px;
    clear: both;
    display: block;
}

#announcements {
    background-color: #F7F7F7;
    box-shadow: 1px 1px 5px #888888;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#announcements h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
}

#announcements ul {
    padding-left: 30px;
}

#about {
    background-color: #F7F7F7;
    box-shadow: 1px 1px 5px #888888;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#about h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
}

#academic-programs {
    background-color: #F7F7F7;
    box-shadow: 1px 1px 5px #888888;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#academic-programs h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
}

#academic-programs ul {
    padding-left: 30px;
}

#contact {
    background-color: #F7F7F7;
    box-shadow: 1px 1px 5px #888888;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
}

#contact ul {
    padding-left: 30px;
}

.footer {
    background-color: #3E5160;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}